body {
  padding-top: 60px; /* move content below nav bar */
}

.hidden {
  display: none;
}

#sign-up-form {
  list-style-type: none;
}

#login-form {
  list-style-type: none;
}

input.error {
  background: #fdd;
}

.error-list {
  background: red;
  border: 2px solid #f66;
  background: #fdd;
}

li.current-category {
  background: #00FF00; 
}

a.delete-bookmark {
  color: #FF0000;
  text-decoration: none;
}

a.delete-bookmark:hover {
  color: #BD0000;
}





.bookmark-url {
  /*border: 3px solid purple;*/
}

a.bookmarklet {
    color: white;
    text-decoration: none;
}

a.bookmarklet:hover {
    color: white;
    text-decoration: none;
}

span.icon-question-sign {
    /* float:left; */
}

h4.bookmarklet {
    display:inline;
    padding-right: 5px;
}

.bookmark-wrapper {
  /* border: 3px solid black; */
  border-bottom: 1px solid black;
}

.bookmark-title {
  /* border: 3px solid yellow; */
}

.bookmark-host {
    /* border: 3px solid purple; */
}

.bm-links {
    float: right;
    /* border: 3px solid green; */
}

ul {
    margin: 0;
}

.bm-links ul {
    margin: 0;
}

.bm-links li {
    /* border: 1px solid black; */
    display: inline;
    padding-left: 10px;
}

.delete {
  /* border: 3px solid red; */
  float: right;
}


.management {
    display: inline;
}

.manage-list {
 border: 2px solid black;
}
.category {
 border-bottom: 2px solid black;
}

.name {
    border: 2x solid blue;
}
